{% extends 'landing-page/app/base.html' %}

{% block content %}

<section class="hero-section">
  <div class="container" style="margin-top: 30px;">
    <div class="row" style="padding: 5% 1% 1% 10%;">
      <div class="col-md-6 d-flex align-items-center">
        <div>
          <h2 style="font-weight: bold; color: #000000!important;;">Inovasi Pembelajaran Inklusif untuk Siswa Tunarungu.</h3>
          <p class="lead text-muted" style="text-align: justify; letter-spacing: 1px;">
            Kami hadir dengan teknologi terkini, proses pembelajaran mudah, akses penuh ke pengetahuan. Langkah belajar jadi inklusif, pengalaman luar biasa bersama kami
          </p>
          <a href="{{url_for('signIn')}}" class="btn btn-lg mt-3"
            style="background-color: #596CFF!important; color: white;"><i class="fa-solid fa-microphone-lines"></i>&nbsp; Start
            Learning</a>
        </div>
      </div>
      <div class="col-md-6 d-none d-md-block">
        <!-- The d-none d-md-block class will hide the image on screens smaller than md -->
        <img src="{{ url_for('static', filename='img/icon-hero.svg') }}" alt="Icon" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<section class="features" style="margin-top: 13%;" id="features">
  <div class="container">
    <h1 class="text-center mb-5" style="font-weight: bold; color: #000000!important;;"><span
        style="font-weight: bold; color: #596CFF!important;">Our</span> Features</h1>
    <div class="row justify-content-center">
      <div class="col-md-4 text-center">
        <img src="{{ url_for('static', filename='img/speech-to-text.png') }}" alt="" class="img-fluid mb-3" width="20%">
        <h3 style="font-weight: bold; color: #596CFF!important;">Speech to Text</h3>
      </div>
      <div class="col-md-4 text-center">
        <img src="{{ url_for('static', filename='img/live.png') }}" alt="" class="img-fluid mb-3" width="20%">
        <h3 style="font-weight: bold; color: #596CFF!important;">Gesture Live</h3>
      </div>
      <div class="col-md-4 text-center">
        <img src="{{ url_for('static', filename='img/pdf-download.png') }}" alt="" class="img-fluid mb-3" width="20%">
        <h3 style="font-weight: bold; color: #596CFF!important;">Download Text</h3>
      </div>
    </div>
  </div>
</section>

<section class="container" style="margin-top: 15%;" id="articles">
  <h1 class="text-center mb-5" style="font-weight: bold; color: #000000!important;;"><span
    style="font-weight: bold; color: #596CFF!important;">Latest</span> Articles</h1>
  <div class="row">
      <!-- Article 3 -->
      <div class="col-lg-4 col-md-6 mb-4">
        <a href="" style="text-decoration: none;">
          <div class="card" style="border: none;">
              <img src="https://th.bing.com/th/id/OIP.YLgGzoP--_tAWjvGTvSdZwHaFi?rs=1&pid=ImgDetMain" class="card-img-top" alt="Article 3" width="100%" height="300px" style="object-fit: cover;">
              <div class="card-body" style="padding: 10px 0 0 0;">
                  <h5 class="card-title" style="color: #242424; font-weight: 650;">Cara Menagajar Anak Tunarungu</h5>
                  <p class="card-text" style="text-align: justify; font-weight: 100; letter-spacing: 2;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor fugiat iure ea inventore voluptate in consectetur voluptatem, cumque optio nisi perspiciatis corporis, accusantium unde iusto cupiditate! Enim harum nesciunt reiciendis.</p>
              </div>
          </div>
        </a>
      </div>   
      <div class="col-lg-4 col-md-6 mb-4">
        <a href="" style="text-decoration: none;">
          <div class="card" style="border: none;">
              <img src="https://th.bing.com/th/id/OIP.YLgGzoP--_tAWjvGTvSdZwHaFi?rs=1&pid=ImgDetMain" class="card-img-top" alt="Article 3" width="100%" height="300px" style="object-fit: cover;">
              <div class="card-body" style="padding: 10px 0 0 0;">
                  <h5 class="card-title" style="color: #242424; font-weight: 650;">Cara Menagajar Anak Tunarungu</h5>
                  <p class="card-text" style="text-align: justify; font-weight: 100; letter-spacing: 2;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor fugiat iure ea inventore voluptate in consectetur voluptatem, cumque optio nisi perspiciatis corporis, accusantium unde iusto cupiditate! Enim harum nesciunt reiciendis.</p>
              </div>
          </div>
        </a>
      </div>   
      <div class="col-lg-4 col-md-6 mb-4">
        <a href="" style="text-decoration: none;">
          <div class="card" style="border: none;">
              <img src="https://th.bing.com/th/id/OIP.YLgGzoP--_tAWjvGTvSdZwHaFi?rs=1&pid=ImgDetMain" class="card-img-top" alt="Article 3" width="100%" height="300px" style="object-fit: cover;">
              <div class="card-body" style="padding: 10px 0 0 0;">
                  <h5 class="card-title" style="color: #242424; font-weight: 650;">Cara Menagajar Anak Tunarungu</h5>
                  <p class="card-text" style="text-align: justify; font-weight: 100; letter-spacing: 2;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor fugiat iure ea inventore voluptate in consectetur voluptatem, cumque optio nisi perspiciatis corporis, accusantium unde iusto cupiditate! Enim harum nesciunt reiciendis.</p>
              </div>
          </div>
        </a>
      </div>   
   
      
  </div>
  <hr class="my-5">
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Pilih Camera</h3>
          <p class="lead text-muted">
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form onsubmit="return startCamera();">
          <div class="mb-3">
            <label for="cameraSelect" class="form-label">Select Kamera</label>
            <select class="form-select" id="cameraSelect" aria-label="Default select example" required
              onchange="showHideIPCameraForm()">
              <option selected value="">-- Open this select menu --</option>
              <option value="Internal Camera">Internal Camera</option>
              <option value="External Camera">External Camera</option>
            </select>
          </div>
          <div class="mb-3" id="ipCameraForm" style="display: none;">
            <label for="exampleFormControlInput1" class="form-label">IP Camera</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="ipCameraAddress"
              placeholder="IP Camera">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-lg mt-3" style="background-color: #26a5c5!important; color: white;"><i
                class="fa-solid fa-play"></i>&nbsp; Start</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function showHideIPCameraForm() {
    var cameraSelect = document.getElementById("cameraSelect");
    var ipCameraForm = document.getElementById("ipCameraForm");

    if (cameraSelect.value === "External Camera") {
      ipCameraForm.style.display = "block";
    } else {
      ipCameraForm.style.display = "none";
    }
  }
</script>

<script>
  function startCamera() {
    var cameraSelect = document.getElementById("cameraSelect");
    var ipCameraAddressInput = document.getElementById("exampleFormControlInput1");
    var cameraInfo = "";
    var ipCameraAddress = "";

    if (cameraSelect.value === "Internal Camera") {
      cameraInfo = "internal";
      window.location.href = "/speech?camera=" + cameraInfo;
    } else if (cameraSelect.value === "External Camera") {
      cameraInfo = "external";
      ipCameraAddress = ipCameraAddressInput.value.trim();
      if (ipCameraAddress === "") {
        swal("Peringatan!", "Silakan masukkan alamat IP Kamera untuk kamera eksternal.", "warning");
        return false;
      }
      window.location.href = "/speech?camera=" + cameraInfo + "&ipCamera=" + ipCameraAddress;
    } else {
      alert("Silakan pilih kamera.");
      return false;
    }

    // Cegah formulir untuk benar-benar dikirim
    return false;
  }
</script>

{% endblock %}